{% load static %}

<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <title>Let us try it!</title>
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.123rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
  {% include 'components/navbar_user_item.html' %}

</header>

<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-8">
          {% block content %}
          {% endblock %}
      </div>
      <div class="col-4">
        <div class="row right-bar">
          {% include 'components/block_popular_tags.html' %}
          <br/>
          {% include 'components/block_best_members.html' %}
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">Сделано для Технопарка.</span>
  </div>
</footer>
<script src="{% static '/js/bootstrap.js' %}"></script>
    </body>
</html>