main > .container {
    padding: 60px 15px 0;
}
.question {
    border: 1px solid gray;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    padding: 20px;
}
.answer {
    border: 1px solid gray;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    padding: 20px;
}
.login {
    border: 1px solid gray;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    padding: 20px;
}
.registration {
    border: 1px solid gray;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    padding: 20px;
}
.question-image {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 50px;
    max-width: 160px;
    max-height: 160px;
}
.answer-image {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 50px;
    max-width: 160px;
    max-height: 160px;
}
.question-title {
    font-size: 26px;
    font-family: Helvetica;
    font-wight: bold;
}
.popular_tags {
    max-width: 350px;
}
.best_members {
    max-width: 50px;
}
.tag {

}
.avatar {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 50px;
    max-height: 50px;
}
.avatar-settings {
    margin-left: 35px;
    margin-right: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 180px;
    max-height: 180px;
}
.navbar-text {
    color: white;
    margin-right: 50px;
}
.right-bar {
    margin-top: 80px;
    margin-left: 30px;
}
.no-link-style {
  text-decoration: none;
  color: inherit;
}
.custom-badge {
  font-size: 18px;
  padding: 8px 12px;
  margin: 3px;
}
.custom-search-input {
    width: 500px;
}
.likes-counter-container {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 37px;
}
.likes-counter-button {
    background-color: transparent;
    border: none;
}
.likes-counter {
    font-size: 18px;
    color: red;
}
.settings-label {
    width: 150px;
}
.answers_and_tags {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8px;
}
.page-item-chosen {
    color: white;
    background-color: blue;
}
.warning {
    color: red;
}
