{% extends 'layouts/base.html' %}

{% block content %}

<h1 class="mt-5">Question</h1>

    {% include 'components/question_item.html' %}

<section class="answers mt-5">
    <h2>Answers</h2>

    {% for answer_info in answers_with_info %}

        {% include 'components/answer_item.html' %}

    {% endfor %}

    <nav class="mt-3 d-flex justify-content-center">
        <ul class="pagination">
            {% for current_page in pages %}
                {% if page == current_page %}
                    <li class="page-item"><a class="page-link page-item-chosen" href="{% url request.resolver_match.view_name question_id=question_info.question.id page_num=current_page %}">{{ current_page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% url request.resolver_match.view_name question_id=question_info.question.id page_num=current_page %}"> {{current_page}} </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <div class="row question">
        <form class="col-12 border p-3">
            <h2>New Answer</h2>
            <div class="mb-3">
                <label class="form-label w-100">
                    <textarea rows="10" class="form-control"></textarea>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Answer</button>
        </form>
    </div>
</section>

{% endblock %}
