{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<h1 class="mt-5">Registration</h1>
<section class="registration mt-5">
    <div class="row">
        <form class="col-12" method="post" action="/registration/">
            {% csrf_token %}
            <div class="mb-3">
                {% bootstrap_form form %}
            </div>
            <div class="mb-3">
              <label class="form-label w-100">
                    Upload avatar
                    <img src="{% static '/img/empty_av.png' %}" alt="" class="avatar-settings">
              </label>
            </div>
            <br/><button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</section>
{% endblock %}
