{% load static %}

<div class="row answer">
    <div class="col-3">
        <img src="{% static '/img/pic1.png' %}" alt="" class="answer-image">
        <div class="likes-counter-container justify-content-center">
          <button class="likes-counter-button">👍</button>
          <span class="likes-counter">{{ answer_info.likes_count }}</span>
          <button class="likes-counter-button">👎</button>
        </div>
      </div>
    <div class="col-9 border p-3">
        <div>{{answer_info.answer.content}}</div>
        <br/>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="answer_checkbox_{{ answer_info.answer.id }}"
                   name="correct"
                   {% if answer_info.answer.is_correct %}
                   checked
                   {% endif %}>
            <label class="custom-control-label" for="answer_checkbox_{{ answer_info.answer.id }}">Correct!</label>
        </div>
    </div>
</div>
