{% load static %}

<div class="row question">
  <div class="col-3">
    <img src="{% static '/img/pic1.png' %}" alt="" class="question-image">
    <div class="likes-counter-container justify-content-center">
      <button class="likes-counter-button">👍</button>
      <span class="likes-counter">{{ question_info.likes_count }}</span>
      <button class="likes-counter-button">👎</button>
    </div>
  </div>
  <div class="col-9 position-relative">
    <div class="question-title">
      <a href="{% url 'question' question_id=question_info.question.id page_num=1 %}">{{ question_info.question.title }}</a>
    </div>
    <br/>
    <div class="question-text">{{ question_info.question.content }}</div>
    <div class="answers_and_tags position-absolute bottom-0">
      answers ({{ question_info.answers_count }})
      Tags:
      {% for tag in question_info.tags %}
        <a class="tag" href="{% url 'tag' target_tag=tag page_num=1 %}">#{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
</div>